In [2]:
import zipfile
with zipfile.ZipFile("archive.zip","r") as f:
    f.extractall(".")

In [155]:
import pandas as pd
pd.options.mode.chained_assignment = None

In [131]:
## Task 1
df = pd.read_csv("911.csv",
                 encoding="cp1251",
                names=["lat", "ing", "desc", "zip", "title", "accident_time", "town", "address", "e"],
                 skiprows=1,
                parse_dates=["accident_time"])
df.dtypes

lat                     float64
ing                     float64
desc                     object
zip                     float64
title                    object
accident_time    datetime64[ns]
town                     object
address                  object
e                         int64
dtype: object

In [132]:
## TASK 2 
df.drop(["desc","zip","address","e"],inplace=True,axis=1)
df.dtypes

lat                     float64
ing                     float64
title                    object
accident_time    datetime64[ns]
town                     object
dtype: object

In [133]:
## Task 3
df = df.iloc[:,[-1,0,1,3,2]]

In [134]:
df.head(1)

,town,lat,ing,accident_time,title
0,NEW HANOVER,40.297876,-75.581294,2015-12-10 17:10:52,EMS: BACK PAINS/INJURY

In [180]:
#Task 4 
towns_df = df["town"].value_counts(ascending=True)

In [181]:
towns_df

LEHIGH COUNTY        190
PHILA COUNTY         267
GREEN LANE           385
BRYN ATHYN          1254
EAST GREENVILLE     1316
                   ...
CHELTENHAM         30574
UPPER MERION       36010
NORRISTOWN         37633
ABINGTON           39947
LOWER MERION       55490
Name: town, Length: 68, dtype: int64

In [190]:
## TASK 5
t5_df = df[df["town"].isin(towns_df.iloc[[0,1,-1,-2]].index.tolist())]
t5_df

,town,lat,ing,accident_time,title
42,LOWER MERION,40.024967,-75.282905,2015-12-10 18:43:07,EMS: CARDIAC EMERGENCY
52,LOWER MERION,40.051283,-75.296852,2015-12-10 19:09:42,Fire: FIRE ALARM
59,LOWER MERION,40.020373,-75.309258,2015-12-10 19:25:22,Traffic: DISABLED VEHICLE -
70,LOWER MERION,40.024967,-75.282905,2015-12-10 20:01:29,Fire: GAS-ODOR/LEAK
71,LOWER MERION,39.986770,-75.275434,2015-12-10 20:05:27,EMS: DIABETIC EMERGENCY
...,...,...,...,...,...
663490,ABINGTON,40.135188,-75.110474,2020-07-29 14:44:37,EMS: ANIMAL BITE
663506,ABINGTON,40.121341,-75.133677,2020-07-29 15:30:22,EMS: VEHICLE ACCIDENT
663507,ABINGTON,40.101385,-75.099434,2020-07-29 15:28:16,Traffic: VEHICLE ACCIDENT -
663519,LOWER MERION,40.013779,-75.300835,2020-07-29 15:52:52,EMS: VEHICLE ACCIDENT
663521,LOWER MERION,40.015046,-75.299674,2020-07-29 15:52:46,Traffic: VEHICLE ACCIDENT -

In [191]:
## Task 6
df_t6 = df[~df["town"].isin(towns_df.iloc[[0,1,-1,-2]].index.tolist())].dropna(subset=["town"])
df_t6
df_t6["hour"] = df_t6["accident_time"].dt.hour

In [205]:
## Task 7,8
count = df_t6["hour"].value_counts(normalize=True)
count

24

In [215]:
# Task 9
df_t6["count"] = count